[submodule "libraries/yaml"]
	path = libraries/yaml
	url = https://github.com/fabpot/yaml.git
[submodule "source/html5boilerplate"]
	path = source/html5boilerplate
	url = https://github.com/paulirish/html5-boilerplate.git
