<a href="{{next_url}}"><img style="border: 3px solid #{{color}};" src="/assets/images/work/{{name}}{{page}}{{extension}}" width="400" height="400"></a>
<a class="prev" href="{{prev_url}}">&larr; Prev</a>
<a class="next" href="{{next_url}}">Next &rarr;</a>
<h1>{{title}}</h1>
{{{description}}}
