<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="description" content="Portfolio of Aaron Oxborrow, a freelance web developer based in Salt Lake City, Utah.">
	<meta name="author" content="Aaron Oxborrow">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" href="/assets/css/base.css">	
	<script src="/assets/js/modernizr-1.7.min.js"></script>
</head>
<body>

<div class="container clearfix">
{{{menu}}}
<div class="content">
{{{content}}}
</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
<script>window.jQuery || document.write("<script src='/assets/js/jquery-1.6.min.js'>\x3C/script>")</script>
<script src="/js/paste.js"></script>

<script>
  var _gaq=[["_setAccount","UA-17597147-1"],["_trackPageview"],["_trackPageLoadTime"]];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
  s.parentNode.insertBefore(g,s)}(document,"script"));
</script>

</body>
</html>
