<ul class="menu">
{{#pages_menu}}
	<li class="page"><a {{#current}}class="selected"{{/current}} href="/{{name}}">{{title}}</a></b></li>
{{/pages_menu}}

{{#projects_menu}}
{{#category}}
	<li class="category">{{category}}</li>
{{/category}}
{{#projects}}
		<li><a{{#current}} class="selected"{{/current}} href="/projects/{{name}}">{{title}}</a></b></li>
{{/projects}}
	</ul></li>
{{/projects_menu}}
</ul>
