<ul class="menu">
{{#pages}}
<li class="section"><a{{#current}} class="selected"{{/current}} href="/{{name}}">{{title}}</a></li>
{{#children}}
	<li{{#is_section}} class="section"{{/is_section}}><a{{#current}} class="selected"{{/current}} href="/{{section}}/{{name}}">{{title}}</a></li>
	{{#children}}
		<li{{#is_section}} class="section"{{/is_section}}><a{{#current}} class="selected"{{/current}} href="/{{section}}/{{name}}">{{title}}</a></li>
		{{#children}}
				<li><a{{#current}} class="selected"{{/current}} href="/{{section}}/{{name}}">{{title}}</a></li>
		{{/children}}
	{{/children}}
{{/children}}
{{/pages}}
</ul>
