{{{content}}}

<div class="project">
	<div class="pagination">{{pagination}}
		<a class="arrow next" href="{{next_url}}">Next &rarr;</a>
		<a class="arrow prev" href="{{prev_url}}">&larr; Prev</a>
	</div>
	<a href="{{next_url}}"><img src="/assets/images/projects/{{name}}{{current_image}}.{{extension}}" width="{{width}}" height="{{height}}" alt="{{caption}}"></a>
</div>
