<a href="{{next_url}}"><img src="/assets/images/projects/{{name}}{{current_image}}.{{extension}}" alt="{{caption}}"></a>
<a class="prev" href="{{prev_url}}">&larr; Prev</a>
<p class="caption">&nbsp;{{caption}}</p>
<a class="next" href="{{next_url}}">Next &rarr;</a>
{{{content}}}
