{{{content}}}

<div class="project">
	<div class="pagination">
		<a class="arrow next" href="{{next_url}}">NEXT</a> {{pagination}} <a class="arrow prev" href="{{prev_url}}">PREV</a>
	</div>
	<div class="image"><a href="{{next_url}}"><img src="{{src}}" width="{{width}}" height="{{height}}" alt="{{caption}}"></a></div>
</div>
