/* paste styles */

body {
	background: #e4e4e4 url('/assets/images/light_bg.png');
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", verdana, sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #666;
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 10px;
}

h1 {
	font-weight: normal;
	font-family: georgia, serif;
	font-size: 34px;	
	line-height: 34px;
	margin-bottom: 10px;
	clear: both;
	color: #222;
}

h2 {
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	color: #999;
	margin-top: -8px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #444; text-decoration: none; }
a:hover { color: #888; }
a:link { -webkit-tap-highlight-color: #444; }

::-moz-selection{ background: #f6182c; color:#fff; text-shadow: none; }
::selection { background: #f6182c; color:#fff; text-shadow: none; }

.white {
	color: #fff;
}

.red {
	color: #f6182c;
}

.light {
	color: #999;
}

p.large {
	font-size: 19px;
	line-height: 27px;
	color: #555;
	margin-bottom: 15px;
}

a.logo {
	margin: 40px 0 30px -5px;
	display: block;
}


/* Left Column Navigation */

.nav {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 180px;
	/* TODO: figure out scroll bars when menu is too long */
	/*height: 100%;
	min-height: 700px;*/
	overflow-y: auto;
	overflow-x: hidden;
	border-right: 1px solid #777;
	background: #1a1a1a url('/assets/images/dark_bg.png');
	padding: 0 0 30px 40px;
	/*font-size: 14px;
	line-height: 22px;*/
}
.nav p {
	color: #999;
}

.nav p strong {
	font-weight: normal;
	color: #ddd;
}

ul.menu {
	margin-top: 25px;
}

ul.menu li a {
	text-decoration: none;
	color: #999;
	line-height: 23px;
	font-size: 13px;
	margin-left: 13px;
}

ul.menu li.section a {
	color: #bbb;
	/*margin: 23px 0 3px 0;*/
	font-size: 14px;
	line-height: 28px;
	margin-left: 0;

}

/* selected sub page */
ul.menu li a.selected, ul.menu li a:hover.selected {
	color: #f6182c;
}

/* selected section */
ul.menu li.section a.selected, ul.menu li.section a:hover.selected, ul.menu li.section a:hover {
	color: #fff;
}


ul.menu li a:hover {
	color: #fff;
}


/* Right Column & Project Content */

img.cover {
	border: 5px solid #fff;
	margin-top: 10px;
}

div.content {
	margin-left: 270px;
	padding-top: 40px;
	width: 600px;
}

div.project {
	display: inline-block;
	/*
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #bbb;*/
	margin-top: 15px;
	line-height: 0;
}

div.project div.pagination {
	font-size: 11px;
	color: #999;
	line-height: 19px;
	text-align: center;
}

/* alternate image viewer */

div.image {
	clear: both;
	border: 3px solid #ccc;
	border-radius: 8px;
}

div.project img {
	border-radius: 5px;
}


a.arrow {	
	float: right;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #888;
	letter-spacing: 1px;
}

a.arrow.prev {
	float: left;
	background-image: url('/assets/images/arrow-left.png');
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding: 2px 7px 2px 18px;
	width: 13px;
}

a.arrow.next {
	background-image: url('/assets/images/arrow-right.png');
	background-repeat: no-repeat;
	background-position: 46px 3px;
	padding: 2px 18px 0px 10px;
	margin: 0 0 6px 2px;
}

a.arrow:hover {
	color: #444;
}


/*
div.project img {
	background-color: #fff;
	padding: 10px;		
}

a.arrow {	
	float: right;
	background-color: #fff;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #777;
	letter-spacing: 1px;
}

a.arrow.prev {
	text-indent: -9999px;
	background-color: #f0f0f0;
	background-image: url('/assets/images/arrow-left.png');
	background-repeat: no-repeat;
	background-position: 1px 3px;
	border-right: 1px solid #ccc;		
	padding: 2px 7px 2px 0px;
	width: 13px;
}

a.arrow.next {
	background-image: url('/assets/images/arrow-right.png');
	background-repeat: no-repeat;
	background-position: 46px 3px;
	padding: 2px 18px 2px 10px;
	margin-left: 2px;
}

a.arrow:hover {
	color: #444;
}
*/

a.launch {
	display: inline-block;
	padding: 0px 8px 0 20px;
	margin: 10px 15px 0px 0px;

	background-image: url('/assets/images/launch-icon.png');
	background-repeat: no-repeat;
	background-position: -1px 1px;

	color: #777;
	font-weight: bold;
	font-size: 11px;
}

/*
a.launch {
	display: inline-block;
	padding: 0px 8px 0 23px;
	margin: 10px 15px 0px 0px;

	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ddd;
	background-color: #fff;
	background-image: url('/assets/images/launch-icon.png');
	background-repeat: no-repeat;
	background-position: 3px 1px;

	color: #777;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;	
}
*/

a.launch:hover {
	color: #444;
}

/* About Page Content */

div.contact {
	float: right;
	background-color: #555;
	border: 5px solid #555;
	width: 160px;
	margin: 0 0 0 35px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

div.contact b {
	color: #999;
}

div.contact p {
	margin: 0 0 4px 8px;
}

div.contact a, div.contact strong {
	font-weight: bold;
	font-size: 11px;
	color: #ddd;
	text-decoration: none;
}

div.contact a:hover {
	color: #fff;
}

div.contact img {
	margin: 5px 8px -3px -3px;
}

div.contact img.mugshot {
	margin: 0;
	width: 160px;
	height: 180px;
}

