<img src="/assets/images/projects/globallr1.jpg" width="650" height="531" alt="This is the caption for image 1">

<h1>Global Leasing Resource</h1>
<h2>CSS/PHP/SQL Development</h2>
<p>Tropical Salvage creates furniture with hardwoods salvaged from the islands of Indonesia. I collaborated with Contact Design to build a clean web presence that highlights their eco-friendly business model and eccentric product catalog. The entire site and product catalog are managed through a custom CMS.</p>

<p><a class="launch" title="Visit GlobalLeasingResource.com" href="http://GlobalLeasingResource.com/" target="_blank">Visit GlobalLeasingResource.com</a></p>

