<img src="/assets/images/projects/silverplatter1.jpg" alt="This is the caption for image 1">

<h1>Silver Platter</h1>
<h2>CSS/PHP/SQL Development</h2>
<p>Silver Platter is the best source to find live music in Phoenix. It started as a simple mailing list full of shows and quickly became "Your Weekly Dish of Desert Culture."  I designed the original site and built a custom event system which utilizes a database of artists and venues to fill out the calendar.</p>

<p class="subtitle">Note: The current site is no longer under my control, and while it retains some interface elements, should not be considered my work.</p>

<p><a class="launch" title="Visit Silverplatter.info" href="http://silverplatter.info" rel="external">VISIT SILVERPLATTER.INFO</a></p>

