<div class="contact">
<img src="/assets/images/previous/Aaron.jpg" width="126" height="140" alt="Aaron Oxborrow" class="mugshot" />
<p><b>Contact Info</b><br/>
<img src="/assets/images/previous/email-icon.gif" height="16" width="16" alt="Email" /><a href="mailto:aaron@pastelabs.com">aaron@pastelabs.com</a>
<br/><img src="/assets/images/previous/phone-icon.gif" height="16" width="16" alt="Phone" /><strong>801-574-9386</strong></p>
</div>

<p class="large">Aaron Oxborrow is a freelance developer and laptop&nbsp;champ in Salt Lake City, Utah.</p>

<p>Aaron has been building websites for over 10 years and enjoys both interface design and development. He thoroughly considers every line of code and carefully places each pixel entrusted to him. He often obsesses over the details and can become emotionally invested in database relationships.</p>

<p>While Aaron usually gets down to work with just headphones and a text editor, you can also find him wielding ink and paint, film cameras or a soldering iron. He loves learning to use new tools and tries to improve as a developer by writing smarter code every&nbsp;day.</p>

