{{#next_page}}<a class="arrow next" href="{{next_page}}">NEXT</a>{{/next_page}}
{{#prev_page}}<a class="arrow prev" href="{{prev_page}}">PREV</a>{{/prev_page}}
{{#next_page}}<br clear="all" />{{/next_page}}
{{{content}}}