{{#nextpage_url}}<a class="arrow next" href="{{nextpage_url}}">NEXT</a>{{/nextpage_url}}
{{#prevpage_url}}<a class="arrow prev" href="{{prevpage_url}}">PREV</a>{{/prevpage_url}}
<br clear="all" />
{{{content}}}