<p style="margin: 0; font-size: 11px; color: #999;"><b><a href="/notes/{{id}}">#{{id}}</a></b>&nbsp;&nbsp;&nbsp;{{date}}</p>
<a style="font-size: 19px;" href="{{{url-with-slug}}}">{{title}}</a></p>
<br/>
